.home-page {
  margin: 5rem 0rem;
}

h3{
  font-weight: bold !important;
}


.section1 {
  margin-bottom: 5rem;
}

.home-title {
  font-size: 2.6rem;
  width: 30rem;
  margin-top: 2rem;
  
}

.img-homepage {
  height: 30rem;
}

.img-table {
  height: 100%;
  width: 30rem;
  margin-left: 5rem;
  position: relative;
  z-index: 1;
}

.img-person {
  position: absolute;
  z-index: 2;
  height: 9.5rem;
  bottom: 0;
  left: 0;
}

.empty-block {
  background-color: #decbc0;
  height: 25rem;
  width: 5rem;
  margin-left: 2rem;
  position: absolute;
  bottom: 0;
  border-radius: 0.25rem;
}

.section2 {
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.underline-title {
  width: 6rem;
  height: 0.25rem;
  background: #ab7a5f;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem
};

.column {
 border:1px solid transparent;
}

.column p {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem ;
}

.column-img {
  position: relative;
}

.image {
  width: 100%;
  height: 17rem;

  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 46%;
  left: 42%;
}

.middle a {
  color: white !important;
}

.column-img:hover .image {
  opacity: 0.6;
}

.column-img:hover .middle {
  opacity: 0.9;
}

.link-search {
  background-color: #ab7a5f;
  border-radius: 50%;
  color: white;
  padding: 15px;
}

.section3 {
  padding-top: 5rem;
  background-color: #eaded7;
}

.title h3 {
  color: #453227;
  
}

.title p {
  color: #795744;
  font-size: 0.95rem;
}

.sig-card {
  background-color: #c5a491;
  padding: 2rem;
  margin:0.5rem
}

.sig-card h5 {
  color: #453227;
  margin-bottom: 2.5rem;
  font-weight:550;
}

.sig-card p {
  color: #5f4435;
  line-height: 1.8;
  font-size: 0.9rem;
}

.paragraph {
  transform: translateY(5rem);
}

.section4{
  padding-top: 12rem;
}

.newsletter-title {
  color: #102a42;
  margin-bottom: 2rem;
}

.newsletter-text p {
  line-height: 2;
  color: #617d98;
}

.newsletter-input{
  margin-bottom: 3rem;
}

