.about{
  margin:3rem 0rem;
  overflow:hidden;
}

.section1-about {
  background-color:#eaded7;
padding:3rem 0rem;
}


.home-link{
  color:#795744 !important;
}

.home-link:hover{
 color: #453227 !important; 
}

.section2-about {
  width: 80%;
  padding-top:6rem;
  height: 40rem;
}

.about-story{
  padding-left:4rem;
}

.about-text p {
  line-height: 2;
  color: #617d98;
 
}

.underline-about {
  width: 6rem;
  height: 0.25rem;
  background: #ab7a5f;
  
  margin-bottom: 3rem
};