.html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f1f5f8;
    color: #324d67;
  }

  .nav-img {
    height: 3.5rem;
  }
  .nav-page {
    padding-top: 0.5rem;
    font-size: 17px;
  }
  
  img {
    border-radius: 0.25rem;
  }
  
  a {
    color: #324d67 !important;
    text-decoration: none !important;
  }
  
  .nav-page a:hover {
    border-bottom: 2px solid #c5a491 !important;
    padding-bottom: 0.5rem;
    text-decoration: none !important;
  }
  
  .nav-profil {
    padding-top: 0.5rem;
    font-size: 18px;
  }
  
  .footer {
   
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.911);
    padding-top: 1.8rem;
  }
  
  .footer h5 {
    color: white;
    font-size: 14px;
  }
  
 